<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ChanHair</title>
    <link rel=stylesheet href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR:400,700" rel="stylesheet">
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/scripts.js"></script>
  </head>
  <body>
    @Html.Partial("_NavBar")
    <div class="container-fluid">
      @Html.Partial("_Carousel")
      <div class="logo">
        <h1>CHANETHAN</h1>
        <p>HAIR SALON</p>
      </div>
      @RenderBody()
    </div>
    <footer class="footer-custom">
      <p>&copy; @DateTime.Now.Year - ChanHair</p>
    </footer>
  </body>
</html>
