@{
  Layout = "_Layout";
}

<h1>Name: @Model["client"].name</h1>
<h3>Appointment: @Model["client"].appointment</h3>
<h3>Stylist: @Model["stylist"].name</h3>
<a href = '/stylists/@Model["stylist"].id/clients/new'><button class='btn btn-info'>Add Client</button></a>
<a href = '/stylists/@Model["stylist"].id'><button class='btn btn-info'>View @Model["stylist"].name's Client List</button></a>
