@{
  Layout = "_Layout";
}

<h1>Add Stylist</h1>
<form action="/stylists" method="post">
  <div class="form-group">
    <label for="stylistName"> Stylist: </label>
    <input id="stylistName" name="stylistName" type="text">
  </div>
  <button type="submit" class='btn btn-info'>Add</button>
</form>

<a href='/stylists'><button class='btn btn-info'>View all stylists</button></a>
<a href='/'><button class='btn btn-info'>Back Home</button></a>
