@{
  Layout = "_Layout";
}

<h1>STYLISTS</h1>

@if (@Model.Count ==0)
{
  <h4>There is no stylist added.</h4>

  <a href='/stylists/new'><button class='btn btn-info'>Add Stylist</button></a>
}
else
{
  <div class="lists">
    @foreach (var stylist in Model)
    {
    <div class="foreach">
      <h4>
        <a href='/stylists/@stylist.id'>@stylist.name</a>
      </h4>
      <p>Income: @stylist.income</p>
      <a href="/stylists/@stylist.id/update" class="btn btn-secondary">Update</a>
      <a href="/stylists/@stylist.id/delete" class="btn btn-secondary">Delete</a>
    </div>
    }
  </div>

  <a href='/stylists/new'><button class='btn btn-info'>Add Stylist</button></a>
  <a href="/allitems"><button class="btn btn-info">View All Clients</button></a>
}
