@{
  Layout = "_Layout";
}

<h1>Edit @Model.name</h1>
<form action="/stylists/@Model.id/update" method="post">
  <div class="form-group">
    <label for="newName">Stylist Name:</label>
    <input name="newName" type="text" value="@Model.name">
  </div>
  <button class="btn btn-info" type="submit">Update</button>
</form>
<a href='/'><button class='btn btn-info'>Back Home</button></a>
<a href='/stylists/@Model.id'><button class='btn btn-info'>Cancel Edit</button></a>
<a href='/stylists'><button class='btn btn-info'>View Stylists</button></a>
